body {
  margin: 0;
  padding: 0;
  background-color: #c2c1c7;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
}

.subtitle {
  font-size: 20px;
  margin-bottom: 10px;
}

.destination-section {
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  justify-content: center;
}

.destination-button {
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #eaeaea;
  cursor: pointer;
}

.destination-button.active {
  background-color: #a8dadc;
}

.destination-content {
  margin-top: 20px;
}

.destination-content1 {
  margin-top: 20px;
  text-align: left;
}
